*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}
nav{
   width: 250px;
   height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
footer{
 height: 80px;
}

/* debug */

nav{
    background-color: crimson;
}
main{
    background-color: darkorange;
}
footer{
    background-color: brown;
}