* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    ;
}

.container {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

nav {
    width: 50px;
    height: 100%;
    background-color: #000000;
    color: #646464;
}

main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #141922;
    color: white;

}


footer {
    height: 80px;
    background-color: #282828;
}

/* regole navigatore smartphone */
.smart-nav {
    width: 90%;
    margin: 0 auto;
    height: 100%;


}

.up-nav {
    height: 50%;
}

.up-nav-list {
    height: 400px;
    text-align: center;
    list-style-type: none;
}

.nav-down {
    margin-top: 20px;
}

.nav-down-list {
    height: 400px;
    padding-top: 260px;
    list-style-type: none;
    text-align: center;


}

.desktop-nav {
    display: none;
}


.logo-img {
    width: 20px;
    color: #646464;

}

.home-img {
    width: 20px;
    color: #646464;
}

.search-img {
    width: 20px;
    color: #646464;
}

.libreria-img {
    width: 20px;
}

.fa-circle-down {
    font-size: 20px;
    color: #646464;
}

.fa-user {
    font-size: 20px;
    color: #646464;
}


li {
    padding: 5px 0;
}

/* <!-- navigatore desktop --> */
.nav-desktop-list {
    list-style-type: none;


}

.img-col:hover {
    color: white;
}

.nav-center-li {
    font-size: 10px;
}

.nav-center-li-top:hover {
    color: white;
}

.nav-center-li:hover {
    color: white;
}

.fa-square-plus {
    font-size: 30px;
    padding-right: 10px;
    color: #646464;
}

.fa-square-plus:hover {
    color: white;
}

.title-center-li {
    font-size: 15px;
    margin-right: 20px;
    color: white;
}

/* regole music menu */
.shadow {
    height: 80px;
    background-color: black;
    opacity: 0.5;

}

/* <!--REGOLE HEADER MENU --> */
.header-menu-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.header-menu-li {
    font-size: 10px;
    padding: 10px 10px;
}

.shadow {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

button {
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: black;
    opacity: 0.5;
    color: white;

}

/* <!-- regole menu musica hover--> */
.first-row-col {

    
    position: relative;
}

.hover-play {
    width: 50%;
    margin: 0 auto;
    visibility: hidden;
    position: absolute;
    bottom: 100px;
  left: 45px;

}

.first-row-col:hover .hover-play {
    visibility: visible;
    position: absolute;
}
.second-of-first-row-col{
    position: relative;
}
.second-of-first-row-col:hover .hover-play{
    visibility: visible;
    position: absolute;
    bottom: 60px;
    left: 35px;
}

.second-row-col{
   
    position: relative;
}
.second-row-col:hover .hover-play {
   
    visibility: visible;
    position: absolute;
    bottom: 60px;
    left: 45px;
}

/* <!-- prima riga menu musica --> */
.first-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-of-first-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}



.first-row-col {
    width: calc(100%/2);
    text-align: center;
    margin-bottom: 10px;
}

.first-row-img {
    width: 120px;
}

.first-row-img:hover {
    background-color: black;
    opacity: 0.5;

}

.first-row-title {
    font-size: 13px;
}

.first-row-p {
    font-size: 13px;

}

h1 {
    width: 87%;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0;
}

/* <!-- seconda riga menu musica --> */
.second-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.row-p {
    width: 87%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 10px;
}

/* <!-- regole terza riga menu musica --> */
.third-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.img-row-3 {
    width: 120px;
    border-radius: 50%;
}

/* regole footer */
.footer-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* <!-- regole first row --> */
.music-in-play {

    display: flex;
}

.row-first {
    width: calc(100/3);
    display: flex;
}

.music-play-name {
    margin-left: 10px;

}

.footer-img {
    width: 40px;
}

.fa-heart {
    position: absolute;
    left: 35px;
}

.fa-folder {
    position: absolute;
    top: 20px;
    left: 35px;
}

/* <!-- regole center row --> */
.row-center {
    width: calc(100/3);
    text-align: center;
}

.col-down {
    height: 5px;
    width: 200px;
    background-color: #585858;
    margin-left: 10px;
}

.fa-code-compare {
    padding: 10px 10px;
}

.fa-backward-step {
    padding: 10px 10px;
}

.fa-circle-play {
    font-size: 30px;
    padding: 10px 10px;
}

.fa-forward-step {
    padding: 10px 10px;
}

.fa-arrow-rotate-righ {
    padding: 10px 10px;
}

/* <!-- regole right row --> */

.row-right {
    width: calc(100/3);
    display: flex;

}

.col-right {
    height: 5px;
    width: 60px;
    background-color: #585858;
    margin-top: 5px;
    margin-left: 5px;
}

.fonts-row {
    position: relative;


}

.fa-display {
    padding: 0 10px;
}



/* regole small screen */
@media screen and (min-width:420px) {

    /* <!-- regole navigatore desktop --> */
    .smart-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
        width: 90%;
        margin: 0 auto;


    }

    nav {
        width: 250px;
        height: 100%;

    }

    /* <!--regole navigatore superiore --> */
    .logo-desk-img {
        width: 80px;
    }

    .nav-center {
        margin-top: 40px;
        margin-bottom: 220px;
    }

    /* regole nav down */

    .fa-circle-down {
        font-size: 10px;
    }

}

/* regloe tablet */
@media screen and (min-width:780px) {

    /* <!-- prima riga menu musica --> */
    .second-of-first-row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }

    .first-row-col {
        width: calc(100%/4);

    }

    .second-of-first-row-col {
        padding: 0 12px;
    }

    /* <!-- seconda riga menu musica --> */
    .second-row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

    }

    .second-row-col {
        padding: 0 12px;
    }

    /* <!-- regole terza riga menu musica --> */
    .third-row {
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

    }

    .third-col {
        padding: 0 10px;
    }

    /* regole footer */


    .fonts-row {
        position: relative;
    }

    .fa-folder {
        position: absolute;
        top: 15px;
    }


}

/* regloe deskto */
@media screen and (min-width:1280px) {

    /* <!-- prima riga menu musica --> */
    .container-first-row {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .first-row {
        width: 100%;
        margin: 0 auto;

    }

    .second-of-first-row {
        width: 50%;
        justify-content: space-around;

    }

    .first-row-img {
        width: 150px;
    }

    /* <!-- seconda riga menu musica --> */
    .second-row {
        width: 100%;
        margin: 0 auto;


    }

    .second-row-col {
        padding: 0 14px;
    }

    /* <!-- regole terza riga menu musica --> */
    .third-row {
        width: 100%;
        margin: 0 auto;


    }

    .img-row-3 {
        width: 150px;
        border-radius: 50%;
    }

    h1 {
        width: 97%;
        margin: 0 auto;

    }

    .row-p {
        width: 97%;
        margin: 0 auto;
    }
}


/* debug */

/* nav {
    background-color: crimson;
} */

/* main {
    background-color: darkorange;
} */

/* footer {
    background-color: brown;
} */

/* .shadow {
    background-color: black;
    height: 80px;
} */